@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap&family=Playfair+Display:wght@500&display=swap&family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,669&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,669&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,669&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    scroll-behavior: smooth;
}

h5 {
    font-size: 12px;
}

p {
    line-height: 20px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

.img-responsive {
    width: 100%;
}

p {
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all 0.7s;
    background-image: url('../img/navbg.png');
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    overflow-x: hidden;

    z-index: 99999;
}

.sidenav.other {
    background-color: #0D0E0E;
}

.nav-menu {
    padding-top: 12%;
}

.vh-100 {
    height: 100vh;
}

.vh-100 img {
    height: 100%;
    transition: 5s;
}

.main1 {
    height: 100vh;
}

.sidenav.other a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
}

.sidenav.other .has-drop-down li a {
    font-size: 24px;
}

.sidenav.other a:hover {
    color: #fff;
    text-shadow: 0px 0px 1px white;
    transition: 0.3s;
}

.small-nav ul li a {
    color: #3c3b3b;
    text-transform: capitalize;
    font: 500 24px/35px Poppins;
    letter-spacing: -0.24px;
}



.sidenav ul {
    list-style: none;
    margin-left: 80px;
    width: fit-content;
}

.sidenav ul li {
    list-style: none;
    position: relative;
}

/*.sidenav ul li::after {
    content: " ";
    width: 100%;
    height: 29px;
    bottom: -12px;
    position: absolute;
    z-index: 9999999;
    background: #f6f5f4;
}*/

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 34px;
    font-family: 'poppins', serif;
    text-transform: uppercase;
    display: block;
    transition: 0.3s;
    width: fit-content;
    letter-spacing: -0.68px;
    color: #000000;
    font-weight: 600;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 7.892vw;
    /* font-size: 50px; */
    margin-left: 50px;
}

.has-drop-down ul {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    margin-left: 0px !important;
    padding: 0;
    color: #1F1F1F;
    transition: 0.5s ease-in-out;
}

h1 span,
h2 span {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
}

.has-drop-down ul li a {
    font-size: 24px;
}

.sidenav ul li:hover ul {
    visibility: visible;
    max-height: 700px;
    opacity: 1;
    transition: 0.9s ease-in-out;
}

#main {
    background-color: white;
    height: 100vh;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
}


#head_img {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.toggle-btn {
    position: fixed;
    top: 40px;
    right: 7.292vw;
    z-index: 9999;
}

.toggle-btn img {
    height: 10px;
    width: 29px;
}

.social-head {
    position: relative;
    margin-top: 5%;
}

.social-head li {
    display: inline-block;
}

.social-head li a {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 600;
    padding: 0px;
    padding-right: 14px;
    letter-spacing: -0.22px;
    color: #000000;
    text-transform: none;
}

.sidenav.other {
    padding-top: 8%;
}

.sidenav.other .social-head {
    position: absolute;
    bottom: 10%;
    right: 117px;
}

.sidenav.other .social-head li {
    display: inline-block;
}

.sidenav.other .social-head li {
    color: #585858;
    font-size: 18px;
}

.sidenav.other .social-head li a {
    color: #ffffff;
    font-size: 18px;
}

.abs {
    position: absolute;
}

.logo {
    padding-left: 7.292vw;
    padding-top: 32px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
}

.logo img {
    width: 189px;
    height: 49px;
}

#main .content {
    height: 100%;
    text-align: center;
    display: flow-root;
    justify-content: center;
    display: flex;
    background-position: center center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
}

#main .content .text {
    text-align: center;
    margin-top: 10.2px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.about {
    margin-top: 14.010416666666666vw;
    background-color: white;
    display: flex;
    justify-content: center;
}

.about .about-box {
    display: flex;
    justify-content: center;
}

.about p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    width: 37.76041666666667VW;
    font-weight: 600;
}

.video {
    /*margin-top: 14.114583333333334VW;*/
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 44%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.art-gallery {
    padding-top: 120px;
    padding-bottom: 140px;
    background-color: #F6F4F2;
}

.art-gallery h6 {
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #1F1F1F;
    letter-spacing: 1.68px;
}

h6,
h5 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #1F1F1F;
    letter-spacing: 1.68px;
}

.art-gallery h1 {
    margin-top: 1.604166666666667VW;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 51px;
    color: #1F1F1F;
    letter-spacing: -2.04px;
    font-weight: 500;
}


.art-gallery .text {
    margin-top: 2.188rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.art-gallery .text p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #1F1F1F;
    width: 40VW;
    line-height: 20px;
}

.call-to-action {
    margin-top: 3.125VW;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.bg-new,
.m-carousel div {
    background: #F2F2F2 !important;
}

.mb-100 {
    padding-bottom: 100px;
}

.btn-call-to-action {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}


.call-to-action .btn-call-to-action {
    display: block;
    width: 240px;
    text-align: center;
    background: #1F1F1F;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    padding-top: 18px;
    cursor: pointer;
    padding-bottom: 18px;
    border-radius: 1px;

}

.small-btn {
    width: 180px !important;
}

.call-to-action .btn-call-to-action:hover {
    padding-right: 8px;
    padding-left: 38px;
    transition: 0.5s;
}


.call-to-action .btn-call-to-action::before {
    content: url(../img/Icon%20feather-arrow-right.svg);
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.5s;
}


.call-to-action .btn-call-to-action:hover::before {
    opacity: 1;
    left: 20px;
}

.marquee {
    width: 15.625VW;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #ccc;
}

.m-carousel ul {
    margin-bottom: 0px;
}

.m-carousel ul li {
    list-style: none;
    display: inline-block;
    margin-right: 1.25em;
}

.scroll1 {
    display: none;
}

.scroll1 img {
    vertical-align: top;
}

.craftman {
    padding-top: 6.25VW;
    padding-bottom: 6.25VW;
    background: #F6F4F2;
}


.craftman h2 {
    margin-top: 2.604166666666667VW;
    font-family: 'Playfair display', sans-serif;
    font-size: 51px;
    color: #1f1f1f;
    letter-spacing: -0.04em;
}

.craftman .text {
    margin-top: 1.8229166666666667VW;
}

.j-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.craftman .text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #383838;
    font-weight: 300;
}

.atulya-image .content p {
    font-size: 20px;
    line-height: 24px;
    color: #282828;
    font-family: "Roboto";
    letter-spacing: 0;
    opacity: 0.8;
}

.nopad {
    padding: 0;
}

.pt-50 {
    padding-top: 109px;
    padding-bottom: 81px;
}

.premium .content p {
    text-align: left;
    font: normal normal normal 14px/16px Roboto;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}

.craftman .j-center {
    padding-right: 7.083333333333333VW;
}

.craftman .call-to-action {
    margin-top: 3.125VW;
    text-align: left;
}

.live {
    padding-top: 80px;
    background-color: #ffffff;
}

.live h6 {
    text-align: center;
}

.live h2 {
    margin-top: 2.604166666666667VW;
    text-align: center;
    font-family: 'Playfair display', sans-serif;
    color: #1f1f1f;
    font-size: 51px;
    letter-spacing: -0.04em;
}

.live .text {
    margin-top: 1.8229166666666667VW;
    display: flex;
    justify-content: center;
}

.live .text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #383838;
    width: 542px;

    font-weight: 400 !important;
}

h1,
h2 {
    line-height: 54px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #383838;
    font-weight: 400 !important;
}

.live .newsletter {

    margin-top: 5.46875VW;
    position: relative;
}

.live .newsletter form .input-group {
    max-width: 39.114583333333336VW;
}

.live .newsletter form .input-group label {
    text-transform: capitalize;
}

.live .newsletter form {
    text-align: center;
}

.live .newsletter form .form-control {
    background: transparent;
    border: none;
    border-bottom: 3px solid black;
    height: 3.6458333333333335VW;
    border-radius: 0;

}

.live ul {
    padding: 0;
}

.live ul {
    margin-top: 20px;
}

.newsbutton {
    background: transparent;
    border: none;
    font-size: 2.25rem;
    position: absolute;
    top: 0;
    right: 0;
    background: #F2F2F2;
    z-index: 10;
    height: 49px;
}

.live h6 span {
    font-size: 14px;
    font-family: "poppins";
    color: #585858;
}

.mt-100 {
    margin-top: 100px;
}

.live ul {
    text-align: center;
}

.live ul li {
    list-style: none;
    font-size: 12px;
    display: inline-block;
    margin-right: 1.5625VW;
    color: #000000;
    font-family: "roboto";
    font-weight: 300 !important;
}

footer {
    padding: 50px 0px;
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
}

footer h2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    padding-bottom: 3.125VW;
}

footer .widget h2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding-bottom: 1.1458333333333333VW;
}

footer .widget ul {
    margin: 0;
    padding: 0;
}

footer .widget ul li {
    padding-bottom: 0.5208333333333333VW;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    color: #AAAAAA;
    list-style: none;
}

footer .widget ul li a {
    color: #AAAAAA;
}

footer .copyright {
    padding-top: 3.78125VW;
}

footer .copyright ul {
    margin: 0;
    padding: 0;
}

footer .copyright ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1.0416666666666665VW;
    color: #FFFFFF;
    font-size: 0.75rem;
    font-family: sans-serif;
}

footer .copyright ul li a {
    color: #FFFFFF;
    font-size: 0.75rem;
    font-family: sans-serif;
}

footer .copyright ul li span {
    color: #707070;
    padding-right: 0.5208333333333333VW;
}

.web-wrap {
    padding-left: 8%;
}

.main-content {
    margin-top: 130px;
}


.main-content h1 {
    font-size: 51px;
    margin-top: 44px;
    font-family: 'Playfair Display', serif !important;
    color: #1F1F1F;
    letter-spacing: -2.04px;
}


h1 {
    font-size: 3em;
    margin-top: 3.6458333333333335vw;
    font-family: 'Playfair Display', serif !important;
    font-family: 'Roboto', sans-serif;
    color: #1F1F1F;
}

.main-content .content {
    margin-top: 31px;
}

.main-content .intro {
    font-size: 24px;
    line-height: 27px !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    /*padding-right: 55px;*/
    color: #383838;
    line-height: 25px;
    font-weight: 400 !important;
    letter-spacing: 0px;
    opacity: 1;
}

.get-touch .intro {
    font-size: 17px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    padding-right: 55px;
    color: #000000;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0px;
    opacity: 1;
}

.main-content p {
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-weight: 400;
    letter-spacing: 0;
}

.get-touch p {
    font-size: 17px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-weight: 400;
    letter-spacing: 0;
}

get-touch a {
    text-align: left;
    text-decoration: underline;
    font: 500 11px/13px Roboto;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
}

.get-touch p a {
    color: #1f1f1f;
    text-decoration: underline;
}

.touch-div {
    position: relative;
}

.touch_link {
    margin-top: 5vw !important;
    color: #1f1f1f;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid gray;
    display: block;
    width: 275px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 18px;
    cursor: pointer;
    padding-bottom: 18px;
    text-align: center;
}



.touch_link:hover {
    padding-right: 8px;
    padding-left: 38px;
    transition: 0.5s;
}


.touch_link::before {
    content: url(../img/blackarrow.svg);
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.5s;
}


.touch_link:hover::before {
    opacity: 1;
    left: 20px;
}

.img-block {
    margin-top: 7.8125vw;
}

.mt-150 {
    margin-top: 150px;
}

.img-block figure {
    display: flex;
    justify-content: flex-end;
}

.sibling {
    margin-top: 0;
    margin-bottom: 10.416666666666668vw;
}

.bg-cream {
    background-color: #f6f4f2;
}

.team {
    padding: 120px 0px;
}

.teams {
    margin-top: 7.8125vw;
}

.team .teams .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.team .teams .box h4 {
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-top: 1.5625vw;
    color: #383838;
}

.team .teams .box p {
    margin-top: 4px;
    font-size: 1.125em;
    font-family: 'Roboto', sans-serif;
}

.clients {
    margin-top: 5.3125vw;
}

.clients .box {
    margin-bottom: 3.125vw;
}

.col-half-offset {
    margin-left: 4.166666667%
}

.atulya-image {
    margin-top: 87px;
}

figure {
    margin-bottom: 30px;
}


.v-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.atulya-image .content {
    padding-bottom: 16px;
}

.dope .intro {
    font-size: 17px;
    line-height: 20px !important;
    font-weight: 500 !important;
    font-family: "Roboto";
    letter-spacing: 0;
    color: #1f1f1f;
    opacity: 1;
}

.atulya-image .content h3 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 29px;
    color: #383838;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    font-weight: bold;
}

.f-16 {
    font-size: 14px !important;
    font-style: italic;
}


.view-mobile {
    display: none
}

.view-desktop {
    display: block
}

.p-abs {
    position: relative;
}

.p-abs figure .abs-img {
    position: absolute;
    bottom: -120px;
    left: 70px;
}

.p-abs-l {
    position: relative;
}

.p-abs-l figure .abs-img {
    position: absolute;
    bottom: -100px;
    right: 40px;
}

.f-right {
    float: right;
}

.clearfix {
    clear: both;
}

.abs-img-sec {
    margin-bottom: 256px;
}

.atulya-last {
    margin-top: 60px;
}

.new-abs .abs-img {
    bottom: -49px !important;
    right: -16% !important;
}

.dope .abs-img {
    bottom: -95px !important;
    left: 160px !important;
}

.premium .content h3 {
    margin-top: 35px;
    padding-bottom: 17px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
    color: #383838;
    opacity: 1;
}

.toooop {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 0px;
    z-index: 0;
    text-align: center;
}

.toooop li {
    display: inline-block;
    color: #ACACAC;
    font: normal normal 500 14px/16px Roboto;
    letter-spacing: 0px;
    margin-left: 16px;
    cursor: pointer;
    margin-top: -3px;
}

.toooop li:last-child {}

.toooop .active {
    border: 2px solid white;
    padding: 2px 6px;
    border-radius: 4px;
}

.w-80 {
    width: 85%;
}

.btn-left {
    justify-content: flex-start;
}

.main-padding {
    margin: 0;
    padding: 7.416666666666668vw 0px;
}

.form {
    margin-top: 3.208333333333334vw;
}

.form p {
    text-align: left;
    font: 400 14px/20px Roboto;
    font-size: 14px;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
}

.form p a {
    font-weight: 500;
    color: #000;
}

.form .form-group .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #282828;
    border-radius: 0;
}

.form .form-group .form-control::placeholder {
    text-transform: uppercase;
    font-size: 11px;
    font-family: "roboto";
    color: #9A9A9A;
}

.fx-end {
    display: flex;
    align-items: flex-end;
}

.form-control::placeholder {
    text-transform: uppercase;
    font-size: 11px;
    font-family: "roboto";
    color: #9A9A9A;
}

.with-top {
    margin-top: 2.947916666666666vw;
}

.mt-50 {
    margin-top: 50px;
}

.submit .btn-call-to-action {
    padding: 11px 41px !important;
}

.custom-file-label {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 0;
}

.mt-30 {
    margin-top: 30px !important;
}

.c-white {
    margin-top: 7.8125vw;
}

.c-white h5 {
    color: #ffffff;
}

.c-white h1 {
    color: #ffffff;
}

.c-white .intro {
    color: #EAEAEA;
}

.c-white .content {
    margin-top: 30px;
}

.c-white .carousel-indicators {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 30px;
    z-index: 0;
}

.c-white .carousel-indicators li {
    margin: 0;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    opacity: 1;
    transition: opacity .6s ease;
    height: auto;
    width: auto;
    text-indent: inherit;
    font-size: 1.25em;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    margin-top: 24px;
}

.c-white .carousel-indicators li:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.c-white .carousel-indicators li span {
    color: #EAEAEA;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin-right: 16px;
}

.c-white .carousel-control-next,
.c-white .carousel-control-prev {
    position: relative;
    color: #ffffff;
    display: inline-flex;
    width: auto;
    opacity: 1;
    z-index: 0;
}

.c-white .carousel-control-next span,
.c-white .carousel-control-prev span {
    font-size: 30px;
}

.c-white .carousel-numeric .num {
    color: #ffffff;
    padding: 0px 60px;
    font-size: 28px;
}

blockquote {
    margin-top: 35px;
    padding-left: 26px;
}

.mt-40 {
    margin-top: 40px;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
    top: 50px;
    position: -webkit-sticky;
}

.get-touch {
    margin-bottom: 5.677083333333333VW;
    ;
}

.get-touch h3 {
    margin-top: 3.6458333333333335vw;
    line-height: 22px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    color: #383838;
}

.tool p {
    color: #707070;
}

.tool a {
    color: #707070;
    text-decoration: underline;
}

.bg-white {
    background: #FFFFFF;
}

.bg-white h2 {
    font-size: 24px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    color: #383838;
}

textarea {
    height: 100px !important;
}


.custom-file-label::after {
    background: transparent;
    border: 1px solid black;
    border-bottom: none;
}

@media screen and (max-width:1919px) {}

@media screen and (max-width:768px) {
    .p-abs figure img {
        width: 100%;
        margin-top: 50px;
    }

    .live .newsletter form .input-group {
        max-width: 100% !important;
    }

    .sticky {
        position: relative;
        margin-bottom: 70px;
    }

    .new-abs figure img {
        width: 100% !important;
    }

    .p-abs figure .abs-img {
        position: absolute;
        bottom: -79px;
        left: 10%;
        width: 80%;
    }

    .p-abs-l figure img {
        width: 100%;
        margin-top: 50px;
    }

    .p-abs-l figure .abs-img {
        position: absolute;
        bottom: -160px;
        left: 10%;
        width: 80%;
    }

    .new-abs .abs-img {
        bottom: -140px !important;
        left: 10% !important;
        width: 80% !important;
    }

    .view-mobile {
        display: block
    }

    .view-desktop {
        display: none
    }
}

@media (min-width: 1920px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1364px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    #main .content {
        padding: 0px 16px;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .col-half-offset {
        margin-left: 0%
    }

    .atulya-image .content {
        max-width: 100%;
    }

    .img-block {
        padding: 16px;
    }

    .web-wrap {
        padding-left: 0%;
    }



    .sidenav ul {
        margin-left: 0;
    }

    .about {
        margin-top: 14.010416666666666vh;
    }

    .about p {
        width: 37.76041666666667Vh;
    }


    .art-gallery {
        padding-top: 13.593749999999998Vh;
        padding-bottom: 11.875Vh;
        background-color: #F6F4F2;
    }

    .art-gallery .text p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.125rem;
        color: #0E0E0E;
        width: 41.71875Vh;
        line-height: 28px;
    }

    .call-to-action .btn-call-to-action {
        background: #1F1F1F;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1.1979166666666667Vh 2.5Vh;
        border: none;
    }

    .craftman {
        padding-top: 6.25Vh;
        padding-bottom: 6.25Vh;
        background: #F6F4F2;
    }

    .craftman .call-to-action {
        margin-top: 3.125Vh;
        margin-bottom: 50px;
        text-align: left;
    }

    .live {
        padding-top: 7.8125Vh;
        background-color: #ffffff;
    }

    .call-to-action {
        margin-top: 3.125Vh;
        text-align: center;
    }

    .live .newsletter {
        margin-top: 5.46875Vh;
        position: relative;
    }

    .live .newsletter form .form-control {
        border: none;
        border-bottom: 3px solid black;
        height: 6.645833Vh;
    }

    footer {
        padding-top: 50px;
    }

    footer .img-fluid {
        margin-bottom: 40px;
    }

    footer .widget {
        margin-bottom: 40px;
    }
}


#box {
    height: 100vh;
    background: url(../img/bg/ph.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s ease-in-out 0s;
}

#slider .wrap-slider {
    position: absolute;
    transition: 0.1s;
    background: url(../img/bg/ph.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s ease-in-out 0s;
    left: 0;
    top: 0;
    width: 100%;
}

#slider .wrap-slider1 {
    position: absolute;
    transition: 0.1s;
    background: url(../img/bg/ph.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s ease-in-out 0s;
    left: -100%;
    top: 0;
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 3px solid black;
}

.form-control {
    padding: 0px;
}

#mySidenav {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all 0.7s;
}

#mySidenav ul::before {
    content: ' ';
    display: table;
}

.uppercase {
    text-transform: uppercase;
}

.live ul li h6 {
    color: #000000;
    font-family: "poppins";
    font-size: 11px;
    font-weight: 500;
}

.live ul li h6 a {
    color: #000;
    text-transform: none;
}

.uppercase span {
    text-transform: lowercase;
}

.medium {
    font-weight: 500 !important;
}

.f-left {
    justify-content: flex-start;
}

.v-small-btn {
    width: 150px !important;
}


.vv-small-btn {
    width: 120px !important;
}

input {

    font-size: 14px;
    display: inline-block;
}

input:focus,
input:active {
    outline: none;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
}


.input-group {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.pos-relative {
    position: relative;
}

.abs-select {
    position: absolute;
    top: 5px;
    right: 4px;
    font-size: 23px;
    color: #707070;
}



.input-group label {
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Poppins";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #999;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}

select {
    font-size: 13px !important;
    line-height: 15px !important;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #999 !important;
    white-space: nowrap;

}



select::after {
    content: "000";
}

.textarea label {
    position: absolute;
    top: 80%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Poppins";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #999;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}

.input-group input:focus + label,
.input-group input.has-value + label {
    top: 0px;
    font-size: 10px;
    color: #aaa;
}

.input-group textarea:focus + label,
.input-group textarea:valid + label {
    top: -5px;
    font-size: 10px;
    color: #aaa;
}

.terms h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 51px;
    color: #1F1F1F;
    letter-spacing: -2.04px;
    font-weight: 500;
}

.terms p {
    font-family: "Poppins" !important;
    font-size: 16px;
    color: #585858;
    line-height: 27px;
}

.terms h2 {
    font-family: "Poppins" !important;
    font-size: 24px;
    color: #585858;
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.grayscale {
    filter: grayscale(90%);
}

.grayscale:hover {
    transition: 0.8s;
    filter: grayscale(0%);
}

.color_change {
    color: #DEDEDE !important;
}

.white_c {
    color: #DEDEDE !important;
}

.doomst li a:hover {
    color: white;
}

.vv-small-btn {
    width: 130px !important;
}

.vv-small-btn button {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}

.text-left {
    text-align: left !important;
}

.jfs {
    justify-content: flex-start
}

.logo-pos{
    position: absolute;
    top: 42px;
    left: 35%;
}

@media screen and (max-width:768px){
    .logo-pos{
        position: relative;
        text-align: left;
        margin-top:00px;
        left: 7%;
    }
}